@use '../../styles/vars';

.button {
  background-color: vars.$color--cream;
  border: 0;
  color: inherit;
  font-size: inherit;
  border-radius: vars.$radius;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px #212126;
  
  &:active {
    box-shadow: none;
    transform: translateY(1px) translateX(1px);
  }

  &--long {
    grid-column: span 2;
  }

  &--high {
    grid-row: span 2;
  }

  &--cancel,
  &--equal {
    background-color: vars.$color--pink;
  }

  &--operator {
    background-color: vars.$color--pink-dark;
  }
}
